.section11 {
  width: 100%;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url('../src/assets/image_produit/images/accueil/cercle.png');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}

.image-accueil3 {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  gap: 200px;
 right: 1.5%;
}

.image-accueil3 img {
  width: 200px;
  height: 50%;
  object-fit: cover; /* cercle parfait */
}



.image-accueil3 img:nth-child(1),
.image-accueil3 img:nth-child(3) {
  transform: scale(2.5); /* agrandir un peu les plats de côté */
  z-index: 1;
}

.image-accueil3 img:nth-child(2) {
  transform: scale(3.5); /* plat central bien mis en avant */
  z-index: 2;
}

.section12{
  width: 100%;
  display: flex;
  justify-content: center;
}

.section12 a {
   display: inline-block;
  width: 250px;
  height: 60px;
  background-color: #D15903;
  border-radius: 10px;
  font-family: 'Passion One', cursive;
  font-size: 20px;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
  line-height: 55px;
  text-decoration: none;
}