.fiche-produit {
  width: 360px;
  height: 400px;
  background-image: url('../images/mes_produits/fond_fiche_produit.png');
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  padding: 20px 20px 60px;
  margin-top: 15%;
  justify-content: center;
  text-align: left;
  font-family: Arial, sans-serif;
  position: relative;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plat-img {
  width: 300px;
  height: auto;
  border-radius: 50%;
  z-index: 1;
  
}

.contenu p {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.5;
  color: #000;
  position: relative;
  bottom: 20%;
  padding: 5%;
  
  
}

.boutons {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 20px;
  margin-bottom: 40%;
  position: relative;
  bottom: 20%;
}

.ajouter, .voir-plus {
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  transition: transform 0.2s ease;
  text-decoration: none;
}

.ajouter {
  background-color: #f5b021;
}

.voir-plus {
  background-color: #a52121;
}

.ajouter:hover, .voir-plus:hover {
  transform: scale(1.05);
}